.Navbar {
    box-shadow: 0 2px 8px #0004;
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Navbar .logo {
    margin: 0;
    font-size: 1.5rem;
}
