.Navmenu {
  position: absolute;
  right: var(--gap);
  top: calc(100% - var(--gap));
}

.Navmenu .Navlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--gap) * 2);
  color: hsl(var(--color-dark));
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
