services:
  postgres:
    image: postgres:14-alpine
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    env_file:
      - .env

  strapi:
    image: node:14
    ports:
      - 1337:1337
    volumes:
      - ./strapi:/srv/app
    working_dir: /srv/app
    env_file:
      - .env
    depends_on:
      - postgres
    user: 1000:1000
    command: bash -c "yarn install && yarn run develop"

  frontend:
    image: node:14
    ports:
      - 3000:3000
    volumes:
      - ./frontend:/app
    working_dir: /app
    user: 1000:1000
    command: bash -c "npm i && npm run dev"
