.Button {
  font-weight: bold;
  font-size: 1rem;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.1s;
}

.Button:not([data-variant="filled"]):not([data-variant="outline"]) {
  background: none;
}

.Button[data-variant="filled"],
.Button[data-variant="outline"] {
  padding: 0.5em 1em;
  border-radius: 0.25em;
}
.Button[data-variant="filled"]:focus-visible,
.Button[data-variant="outline"]:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px hsl(var(--color) / 0.4);
}

.Button[data-variant="filled"] {
  background: hsl(var(--color));
  color: white;
}
.Button[data-variant="filled"]:hover {
  background: hsl(var(--color) / 0.7);
}

.Button[data-variant="outline"] {
  border: 1px solid hsl(var(--color));
  color: hsl(var(--color));
  border-color: hsl(var(--color));
}
.Button[data-variant="outline"]:hover {
  background: hsl(var(--color) / 0.15);
}
