.TestPage .color-grid {
  display: grid;
  grid-template: repeat(3, 80px) / repeat(10, 1fr);
}

.TestPage .color-grid > div {
  position: relative;
  border: 1px solid lightgray;
}

.TestPage .color-grid .inner {
  position: absolute;
  inset: 20px;
}

.TestPage .color-grid .current {
  background-color: currentColor;
}
