.Navmenu {
  position: absolute;
  right: var(--gap-1);
  top: calc(100% - var(--gap-1));
}

.Navmenu a,
.Navmenu button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-2);
  color: var(--col-dark);
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.Navmenu hr {
  margin-block: 0;
  margin-inline: calc(var(--gap-1) * -1);
  width: calc(var(--gap-2) + 100%);
}
