.Button {
  font-weight: bold;
  transition: box-shadow 0.1s;
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
}

.Button:disabled {
  opacity: 60%;
}

.Button:hover:not(:disabled) {
  opacity: 80%;
  cursor: pointer;
}

.Button:not([data-variant="filled"]):not([data-variant="outline"]) {
  background: none;
}

.Button[data-variant="filled"],
.Button[data-variant="outline"] {
  box-sizing: border-box;
  min-height: 2.25em;
  padding: 0 1em;
  border-radius: 0.25em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.Button[data-variant="filled"]:focus-visible,
.Button[data-variant="outline"]:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px hsl(var(--color) / 0.4);
}

.Button[data-variant="filled"] {
  background: hsl(var(--color));
  color: white;
}
.Button[data-variant="filled"]:hover:not(:disabled) {
  background: hsl(var(--color) / 0.7);
  opacity: 100%;
}

.Button[data-variant="outline"] {
  border: 1px solid hsl(var(--color));
  color: hsl(var(--color));
  border-color: hsl(var(--color));
}
.Button[data-variant="outline"]:hover:not(:disabled) {
  background: hsl(var(--color) / 0.1);
  opacity: 100%;
}
