.App {
    height: 100vh;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
}

.App main {
    flex-grow: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

.App footer {
    margin-top: auto;
    padding: 1em;
    background: #e0e0e0;
    text-align: center;
}
