.App {
  height: 100vh;
  overflow-y: hidden;
  background: #f0f0f0;

  display: flex;
  flex-direction: column;
}

.App main {
  flex-grow: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.App footer {
  margin-top: auto;
  padding: 1em;
  background: #ffffff;
  text-align: center;
}
