body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
select {
  font-size: 1rem;
  padding: 0.5em;
  border: var(--border);
  border-radius: 0.25em;
  background: #f0f0f0;
  transition: box-shadow 0.1s;
}

input:focus-visible,
select:focus-visible {
  outline: none;
  box-shadow: var(--focus-shadow);
  background: #ffffff;
}

label {
  font-size: 1rem;
  font-weight: bold;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background: var(--col-border);
}

a {
  color: var(--col-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  opacity: 60%;
}

button {
  font-size: inherit;
  padding: 0;
  border: none;
}
