:root {
  --gap: 10px;
  --border-radius: 8px;

  --color-primary: 97deg 52% 63%;
  --color-white: 0 0% 100%;
  --color-light: 0 0% 40%;
  --color-dark: 0 0% 20%;
  --color-danger: 22 100% 35%;

  --color-bg: 200deg 12% 95%;
  --color-bg-light: 201 12% 88%;
  --color-bg-dark: 201 20% 80%;
  --color-bg-danger: 4 100% 90%;
  --color-bg-warning: 40 95% 80%;
  --color-bg-success: 97 52% 63%;

  --shadow-sm: 0 1px 0px 0 hsl(0deg 0% 0% / .33), 0 0 2px hsl(0deg 0% 0% / .125);
  --shadow-md: 0 1px 0px 0 hsl(0deg 0% 0% / .1), 0 1px 4px hsl(0deg 0% 0% / .25);
  --shadow-lg: 0 2px 6px 0 hsl(0deg 0% 0% / .2);

  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;

  --font-xs: 14px;
  --font-sm: 16px;
  --font-md: 20px;
  --font-lg: 24px;
  --font-xl: 28px;

  --font-thin: 300;
  --font-normal: 400;
  --font-bold: 600;

  --focus-outline: 4px solid hsl(var(--color-primary) / 0.6);

  --border: 1px solid hsl(0, 0%, 75%);
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Layout */
.flex { display: flex; }
.grid { display: grid; }

.row { flex-direction: row; grid-auto-flow: column; }
.column { flex-direction: column; grid-auto-flow: row; }

.justify-start { justify-content: start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: end; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }

.align-start { align-items: start; }
.align-center { align-items: center; }
.align-end { align-items: end; }

.gap-05 { gap: calc(var(--gap) / 2); }
.gap-1 { gap: var(--gap); }
.gap-2 { gap: calc(var(--gap) * 2); }

/* Padding */
.p-0  { padding: 0; }
.p-05 { padding: calc(var(--gap) / 2); }
.p-1  { padding: var(--gap); }
.p-2  { padding: calc(var(--gap) * 2); }

.px-0  { padding-left: 0; padding-right: 0; }
.px-05 { padding-left: calc(var(--gap) / 2); padding-right: calc(var(--gap) / 2); }
.px-1  { padding-left: var(--gap); padding-right: var(--gap); }
.px-2  { padding-left: calc(var(--gap) * 2); padding-right: calc(var(--gap) * 2); }

.py-0  { padding-top: 0; padding-bottom: 0; }
.py-05 { padding-top: calc(var(--gap) / 2); padding-bottom: calc(var(--gap) / 2); }
.py-1  { padding-top: var(--gap); padding-bottom: var(--gap); }
.py-2  { padding-top: calc(var(--gap) * 2); padding-bottom: calc(var(--gap) * 2); }

.pl-0  { padding-left: 0; }
.pl-05 { padding-left: calc(var(--gap) / 2); }
.pl-1  { padding-left: var(--gap); }
.pl-2  { padding-left: calc(var(--gap) * 2); }

.pr-0  { padding-right: 0; }
.pr-05 { padding-right: calc(var(--gap) / 2); }
.pr-1  { padding-right: var(--gap); }
.pr-2  { padding-right: calc(var(--gap) * 2); }

.pt-0  { padding-top: 0; }
.pt-05 { padding-top: calc(var(--gap) / 2); }
.pt-1  { padding-top: var(--gap); }
.pt-2  { padding-top: calc(var(--gap) * 2); }

.pb-0  { padding-bottom: 0; }
.pb-05 { padding-bottom: calc(var(--gap) / 2); }
.pb-1  { padding-bottom: var(--gap); }
.pb-2  { padding-bottom: calc(var(--gap) * 2); }

/* Margin */
.m-0  { margin: 0; }
.m-05 { margin: calc(var(--gap) / 2); }
.m-1  { margin: var(--gap); }
.m-2  { margin: calc(var(--gap) * 2); }
.m-auto { margin: auto; }

.mx-0  { margin-left: 0; margin-right: 0; }
.mx-05 { margin-left: calc(var(--gap) / 2); margin-right: calc(var(--gap) / 2); }
.mx-1  { margin-left: var(--gap); margin-right: var(--gap); }
.mx-2  { margin-left: calc(var(--gap) * 2); margin-right: calc(var(--gap) * 2); }
.mx-auto { margin-left: auto; margin-right: auto; }

.my-0  { margin-top: 0; margin-bottom: 0; }
.my-05 { margin-top: calc(var(--gap) / 2); margin-bottom: calc(var(--gap) / 2); }
.my-1  { margin-top: var(--gap); margin-bottom: var(--gap); }
.my-2  { margin-top: calc(var(--gap) * 2); margin-bottom: calc(var(--gap) * 2); }

.ml-0  { margin-left: 0; }
.ml-05 { margin-left: calc(var(--gap) / 2); }
.ml-1  { margin-left: var(--gap); }
.ml-2  { margin-left: calc(var(--gap) * 2); }
.ml-auto { margin-left: auto; }

.mr-0  { margin-right: 0; }
.mr-05 { margin-right: calc(var(--gap) / 2); }
.mr-1  { margin-right: var(--gap); }
.mr-2  { margin-right: calc(var(--gap) * 2); }
.mr-auto { margin-right: auto; }

.mt-0  { margin-top: 0; }
.mt-05 { margin-top: calc(var(--gap) / 2); }
.mt-1  { margin-top: var(--gap); }
.mt-2  { margin-top: calc(var(--gap) * 2); }

.mb-0  { margin-bottom: 0; }
.mb-05 { margin-bottom: calc(var(--gap) / 2); }
.mb-1  { margin-bottom: var(--gap); }
.mb-2  { margin-bottom: calc(var(--gap) * 2); }

/* Text */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.font-xs { font-size: var(--font-xs); }
.font-sm { font-size: var(--font-sm); }
.font-md { font-size: var(--font-md); }
.font-lg { font-size: var(--font-lg); }
.font-xl { font-size: var(--font-xl); }

.font-bold { font-weight: var(--font-bold); }
.font-normal { font-weight: var(--font-normal); }
.font-thin { font-weight: var(--font-thin); }

.font-sans { font-family: var(--font-sans); }
.font-serif { font-family: var(--font-serif); }
.font-mono { font-family: var(--font-mono); }

/* Shape */
.square { border-radius: 0; }
.rounded { border-radius: var(--border-radius); }
.oval { border-radius: 100%; }
.pill { border-radius: 100vh; }

/* Colors */
.bg-none { background-color: transparent; }
.bg-primary { background-color: hsl(var(--color-primary)); }
.bg-color { background-color: hsl(var(--color-bg)); }
.bg-white { background-color: hsl(var(--color-white)); }
.bg-light { background-color: hsl(var(--color-bg-light)); }
.bg-dark { background-color: hsl(var(--color-bg-dark)); }
.bg-danger { background-color: hsl(var(--color-bg-danger)); }
.bg-warning { background-color: hsl(var(--color-bg-warning)); }
.bg-success { background-color: hsl(var(--color-bg-success) / 0.6); }

.col-white { color: hsl(var(--color-white)); }
.col-black { color: black; }
.col-light { color: hsl(var(--color-light)); }
.col-dark { color: hsl(var(--color-dark)); }
.col-primary { color: hsl(var(--color-primary)); }
.col-danger { color: hsl(var(--color-danger)); }

.shadow-sm { box-shadow: var(--shadow-sm); }
.shadow-md { box-shadow: var(--shadow-md); }
.shadow-lg { box-shadow: var(--shadow-lg); }

.container-sm,
.container-md,
.container-lg {
  width: 100%;
  box-sizing: border-box;
  padding-left: var(--gap);
  padding-right: var(--gap);
  margin-left: auto;
  margin-right: auto;
}

.container-sm {
  max-width: 400px;
}

.container-md {
  max-width: 600px;
}

.container-lg {
  max-width: 800px;
}

.b-1 { border:          var(--border); }
.bt-1 { border-top:     var(--border); }
.bb-1 { border-bottom:  var(--border); }
.bl-1 { border-left:    var(--border); }
.br-1 { border-right:   var(--border); }
.bx-1 { border-left:    var(--border); border-right:     var(--border); }
.by-1 { border-top:     var(--border); border-bottom:    var(--border); }
